@import "variables.scss";
@import "typography.scss";

html {
  font-size: 62.5%; // 16px * 0.625 = 10px
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", -apple-system, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.app {
  height: inherit;
}

.app-header {
  height: 70px;
  padding: 20px;
  font-family: $font-bold;
  font-size: 1.6rem;
  box-shadow: 0px 1px 5px rgba(46, 91, 255, 0.1);
}

.app-main {
  display: flex;
  min-height: calc(100% - 70px);
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 18%;
  border-right: 1px solid #ebebeb;
  padding: 1.5rem 0;
}

.app-content {
  padding: 2rem;
  width: 100%;
}

.app-cta-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
