//fonts
$font-regular: "Inter Regular";
$font-light: "Inter Light";
$font-bold: "Inter Bold";
$font-semi-bold: "Inter Semi Bold";

// colors
$color-primary: #6485fd;
$color-secondary: #ebebeb;
$color-black: #333;
